.App {
  text-align: center;
}

.main-bg {
  height: 300px;
  background-image: url('./bg.png');
  background-size: cover; /* 요소를 모두 덮도록 너비, 높이 모두 확대 혹은 축소 */
  background-position: center;
}

.alert {
  background-color: yellow;
  padding: 10px;
}

.start {
  opacity: 0; /* 투명도 */
}

.end {
  opacity: 1; /* 투명도 */
  transition: opacity 1s; /* opacity 변경 시 0.5초에 걸쳐서 */
}

#search-button {
  border-color: grey;
  color: grey;
}

#search-button:hover {
  background-color: grey;
  color: white;
}